.container {
    text-align: center;

    div {
        margin-top: 10px;
    }
}

.todoBlock {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    border: 1px solid rgb(151, 151, 20);
    border-radius: 1%;
    padding: 10px;
}

.todoItem {
    display: flex;
    width: 300px;
    margin: 0 auto;
}

.item {
    width: 150px;
}

.itemBig {
    width: 300px;
}